* {
  box-sizing: border-box;
}

body {
	font-family: 'Spinnaker', sans-serif;
	text-align: center;
	background-color: black;
	color: white;
}

form {
	margin: 20px;
	padding: 20px;
	width: 30%;
	border: 1px solid #548F8B;
	border-radius: 15px;
	display: inline-block;
}

input {
	margin-bottom: 15px;
	width: 75%;
	border-radius: 5px;
}

button {
	display: block;
	margin: auto;
	border-radius: 5px;
	background-color: #548F8B; 
	cursor: pointer;
	font-size: 18px;
}

button:hover {
	background-color: grey;
}

h2 {
	margin: auto;
	font-size: 20px;
}

h3 {
	font-size: 14px;
	margin: 10px;
}

img {
	margin-bottom: 30px;
}

.result-section {
	border: 1px solid #548F8B;
	border-radius: 15px;
	width: 50%;
	margin: 10px auto;
}

a:link {
    color: white; 
}

a:visited {
    color: #548F8B;
}

a:hover {
    color: grey;
}