* {
  box-sizing: border-box;
}

body {
	font-family: 'Spinnaker', sans-serif;
	text-align: center;
	background-color: black;
	color: white;
}

form {
	margin: 20px;
	padding: 20px;
	width: 30%;
	border: 1px solid #548F8B;
	border-radius: 15px;
	display: inline-block;
}

input {
	margin-bottom: 15px;
	width: 75%;
	border-radius: 5px;
}

button {
	display: block;
	margin: auto;
	border-radius: 5px;
	background-color: #548F8B; 
	cursor: pointer;
	font-size: 18px;
}

button:hover {
	background-color: grey;
}

h2 {
	margin: auto;
	font-size: 20px;
}

h3 {
	font-size: 14px;
	margin: 10px;
}

.result-section {
	border: 1px solid #548F8B;
	border-radius: 15px;
	width: 50%;
	margin: 10px auto;
	padding: 20px;
}

img:hover {
	border: 2px solid white;
}

a:link {
    color: white; 
}

a:visited {
    color: #548F8B;
}

a:hover {
    color: grey;
}

.hidden {
  display:none;
}

#next-page-button {
	margin: 15px auto;
}

#black-screen {
  position: fixed;
  top:0px;
  bottom: 0px;
  right:0px;
  left:0px;
  background-color:rgba(0,0,0,0.5);
}

#white-screen {
  display:inline-block;
  padding:30px;
  margin: 15% auto;
  background-color:white;
}